# --
#  Managment via Puppet
# --

# Pid location
PidFile=/var/run/zabbix/zabbix_agentd.pid

# Log's patametres
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0

# Zabbix-server hostname/ip
Server=<%= scope.lookupvar("setup_zbx_agent::zbx_server")  %>
ServerActive=<%= scope.lookupvar("setup_zbx_agent::zbx_server") %>

# Zabbix-agent hostname
Hostname=<%= scope.lookupvar("setup_zbx_agent::zbx_host") %>

# Includes extentions:
Include=/etc/zabbix/zabbix_agentd.d/*.conf
