# Zabbix main repository
deb https://repo.zabbix.com/zabbix/6.0/ubuntu <%= scope.lookupvar("setup_zbx_agent::params::release_name") %> main
deb-src https://repo.zabbix.com/zabbix/6.0/ubuntu <%= scope.lookupvar("setup_zbx_agent::params::release_name") %>  main
